
:root{
  --container-max-w: 640px;
  --container-px: calc(var(--container-max-w) / 24);
  --orange: #F15628;
  --dark-green: #515839;
  --white: #F8F7EF;
  --rose: #F5D4C3;
  --yellow: #F4A631;
  font-size: 16px;

} 
@media screen and (min-width: 768px) {
  :root {
    font-size: 20px;
  }
}

.text-orange {
  color: var(--orange);
}
.text-dark-green {
  color: var(--dark-green);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}
a {
  /* text-decoration: none; */
  color: var(--yellow);
}
main {
  max-width: var(--container-max-w);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--container-px);
  box-sizing: border-box;
  position: relative;
  gap: 3rem;
}

[data-bg-shape] {
  position: relative;
  display: block;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--bg-color);
  }
}

[data-bg-shape="1"]:before {
  mask: url("img/shape_1.svg") 50% 0% no-repeat ;
  -webkit-mask: url("img/shape_1.svg") 50% 0% no-repeat ;
  mask-size: 100% 100%;
}
[data-bg-shape="2"]:before {
  mask: url("img/shape_2.svg") 50% 0% no-repeat ;
  -webkit-mask: url("img/shape_2.svg") 50% 0% no-repeat ;
  mask-size: 100% 100%;
}

[data-mask] {
  position: relative;
  display: block;
}
[data-mask="1"] {
  mask: url("img/shape_1.svg") 50% 0% no-repeat ;
  -webkit-mask: url("img/shape_1.svg") 50% 0% no-repeat ;
  mask-size: 100% 100%;
}
[data-mask="2"] {
  mask: url("img/shape_2.svg") 50% 0% no-repeat ;
  -webkit-mask: url("img/shape_2.svg") 50% 0% no-repeat ;
  mask-size: 100% 100%;
}
[data-mask="3"] {
  mask: url("img/shape_3.svg") 50% 0% no-repeat ;
  -webkit-mask: url("img/shape_3.svg") 50% 0% no-repeat ;
  mask-size: 100% 100%;
}
header h1 {
  font-size: 2rem;
  margin: 0;

}
header {
  position: relative;
  text-align: center;
  padding: 1rem 0;
  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
}
header h1 svg {
  width: 100%;
  max-width: 6em;
  height: auto;
}
header .claim {
  font-size: 1.5rem;
  max-width: 45ch;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  a {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: .2em;
    padding: .25em 1em;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-flex;
    line-height: 1;
    align-items: center;
    gap: .25em;
    transition: transform .1s ease-in-out;
  }
  a:hover {
    transform: rotate(3deg);
  }
  a svg path {
    stroke: currentColor;
  }
}


.fraunces-base {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 60,
    "WONK" 0;
}
.fraunces-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings:
    "wght" 700,
    "SOFT" 100,
    "WONK" 1;
}
.star {
  margin-bottom: 2rem;
  color: var(--yellow);
}
.star svg {
  width: 100%;
  max-width: 60px;
  height: auto;
}
.star {
  /* position: absolute; */
  top: 0;
  right: 0;

}


section {
  font-size: 1.2rem;
  position: relative;
  text-align: center;
}
section h2 {
  font-size: 2.5rem;
  margin: .5em 0;
  line-height: 1;
  text-wrap: pretty;
  color: var(--title-color, var(--white));
}
section p {
  text-wrap: pretty;
}

.contact p {
  margin: .2em 0;
  font-size: 1.2rem;
}

.contact-links ul  {
  margin-bottom: 1rem;
  a {
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .25em;
    line-height: 1;
    font-weight: 600;
    svg path {
      stroke: currentColor;
    }
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--dark-green);
  margin: .2em;
  padding: .25em 1em;
  font-weight: 600;
  display: inline-flex;
  line-height: 1;
  align-items: center;
  gap: .25em;
  transition: transform .1s ease-in-out;
  &:hover {
    transform: rotate(3deg);
  }
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: .5rem;
  img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* .presentation {
  padding: 1rem 0;
  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
} */
.fournisseurs-list {
  --r: 8px;
  font-size: .8em;
  padding: 1rem;
  background-color: var(--bg-color);
  transform: rotate(3deg);
  font-size: .8em;
  font-style: italic;
  mask: 
  linear-gradient(#000 0 0) no-repeat
   50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)), 
  radial-gradient(farthest-side,#000 97%,#0000) 
   0 0/calc(2*var(--r)) calc(2*var(--r)) round;
  li {
    margin-bottom: .25em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

[data-theme] {
  color: var(--text-color);
}
[data-theme="dark"] {
  --bg-color: var(--dark-green);
  --text-color: var(--rose);
  --title-color: var(--yellow);
}
[data-theme="light"] {
  --bg-color: var(--rose);
  --text-color: var(--dark-green);
  --title-color: var(--orange);
}
[data-theme="orange"] {
  --bg-color: var(--orange);
  --text-color: var(--white);
  --title-color: var(--white);
}
[data-theme="yellow"] {
  --bg-color: var(--yellow);
  --text-color: var(--dark-green);
  --title-color: var(--dark-green);
}

.sticker {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: .5em;
  font-size: 1.2rem;
  font-style: italic;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width: 10ch
}

#brunch {
  position: relative;
  margin: 1rem auto;
  transform:  rotate(3deg);
  @media screen and (min-width: 768px) {
    margin: 0 ;
    position: absolute;
    top: 0;
    right: 0;
  }
}